<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's tidy up this space! - Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dash.css') }}"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="header">Let's tidy up this space</div>
      <div class="grower"></div>
      <a href="{{ url_for('logout') }}">
        <div class="logout">Logout</div>
      </a>
    </div>
    <div class="main-container">
      <h1 class="m-header">Task OPS</h1>
      <div class="taskform-wrap">
        <form class="ui form" action="/addTask" method="POST">
          <h3>Add a task!</h3>
          <div class="field required">
            <label>Task name</label>
            <input
              type="text"
              name="task-name"
              placeholder="What needs to be done?"
              required
            />
          </div>
          <div class="field">
            <label>Assign task to</label>
            <select name="assignee" class="ui dropdown" id="person-select">
              <option value="0">Yourself</option>
              {% for i, member in current_user.members %}
              <option value="{{ i }}">{{ member }}</option>
              {% endfor %}
            </select>
          </div>
          <button class="ui button" type="submit">Add task</button>
        </form>
        <form class="ui form" action="/addMember" method="POST">
          <h3>Add a household member!</h3>
          <div class="field required">
            <label>Member name</label>
            <input
              type="text"
              name="member-name"
              placeholder="Who are you adding?"
              required
            />
          </div>
          <div class="field">
            <label>Discord identifier</label>
            <input type="text" name="discord" placeholder="User#0001" />
          </div>
          <button class="ui button" type="submit">Add member</button>
        </form>
      </div>
      <h1 class="m-header">Task List</h1>
      <div class="task-flex">
        {% for memidx, member in ([(0, "you")] + current_user.members ) %}
        <div class="task-wrap">
          <h3>Assigned to {{ member }}</h3>
          <ul>
            {% for taskId, task in current_user.getTasks(memidx) %}
            <li>{{ task }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="credits">&copy;2021 Team Cheesy</div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.12/lib/draggable.bundle.js"></script>
    <script src="{{ url_for('static', filename='dash.js') }}"></script>
  </body>
</html>
