<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's tidy up this space!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Redressed&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <div class="main-container">
      <h1>Lets tidy up this space!</h1>
      <!-- <p>
        The spring cleaning planner that you can use all year round! Specially
        tailored for use by moms ;)
      </p> -->
      <div class="buttons">
        <a href="{{ url_for('login') }}">
          <button type="button">Login</button>
        </a>
        <a href="{{ url_for('register') }}">
          <button type="button">Sign Up</button>
        </a>
      </div>
      <div class="spacer"></div>
    </div>
  </body>
</html>
