{% extends "formlayout.html" %} {% block content %}
<h1>Sign in!</h1>
<img src="{{ url_for('static', filename='welcome.png') }}" alt="" />
<form class="ui form" method="POST" action="">
  {% with messages = get_flashed_messages(with_categories=True) %} {% if
  messages %}
  <div class="ui message">
    <div class="header">Hey there!</div>
    <ul class="list">
      {% for category, message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% endwith %} {{ form.hidden_tag() }}
  <div class="field">{{ form.username.label() }} {{ form.username() }}</div>
  <div class="field">{{ form.password.label() }} {{ form.password() }}</div>
  <div class="field">
    <div class="ui checkbox">
      {{ form.remember(class="hidden") }} {{ form.remember.label() }}
    </div>
  </div>
  {{ form.submit(class="ui button") }}
</form>
{% endblock %}
