{% extends "formlayout.html" %} {% block content %}
<h1>Register</h1>
<img src="{{ url_for('static', filename='working.png') }}" alt="" />
<form class="ui form">
  <div class="field">
    <label>Household nickname</label>
    <input type="text" name="username" placeholder="Username" />
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <div class="field">
    <label>Confirm password</label>
    <input type="password" name="confirmation" placeholder="Confirm password" />
  </div>
  <button class="ui button" type="submit">Create account</button>
</form>
{% endblock %}
